---
import MainLayout from '../layouts/Layout.astro';
import "../../public/about.css";
---

<MainLayout title="About Us">
    <div class="background">
        <div class="blur-bg"></div>
        <div class="content">
            <div class="about-section">
            </div>
        </div>
    </div>
</MainLayout>

