---
import MainLayout from '../layouts/Layout.astro';
---

<MainLayout title="About Us">
    <div class="background">
        <div class="blur-bg"></div>
        <div class="content">
            <div class="about-section">
            </div>
        </div>
    </div>
</MainLayout>

<style>
    .background {
        position: relative;
        width: 100%;
        height: 100vh; /* Adjust height as needed */
        overflow: hidden;
    }

    .blur-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://cdn.discordapp.com/attachments/1229507953728684174/1259284355642036234/aboutus.jpg?ex=668b1f72&is=6689cdf2&hm=0a0dbc81414060327c6a9af3fbf3ea6b6d212f626d3561b60f1a48d7379c6bb8&'); /* Replace with your image path */
        background-size: cover;
        z-index: -1;
    }

    .content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        color: white;
    }

    .about-section {
        text-align: center;
        margin-bottom: 2rem;
    }

    .social-media-icons {
        text-align: center;
        margin-bottom: 3rem;
    }

    .icons {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 1rem;
    }
</style>
