---
import MainLayout from '../layouts/Layout.astro';
const actors = [
    { name: "Cillian Murphy", age: 45, from: "Douglas, Ireland", image: "https://image.gala.de/24013380/t/g2/v2/w2048/r0.6667/-/cillian-murphy.jpg" }, // Robert Oppenheimer
    { name: "Leonardo DiCaprio", age: 46, from: "Los Angeles, USA", image: "https://image.gala.de/21407118/t/26/v6/w960/r0.6667/-/leonardo-dicaprio.jpg" }, // Killers of the Flower Moon
    { name: "Kate Winslet", age: 45, from: "Reading, England", image: "https://media.vogue.de/photos/60b9e030c6a3bf7dec900ee5/2:3/w_2560%2Cc_limit/GettyImages-513024466.jpg" }, // Titanic
    { name: "Timothee Chalamet", age: 28, from: "New York City, USA", image: "https://image.vip.de/23269878/t/kS/v2/w2048/r0/-/timothee-chalamet-t10872-jpg--topic-image-10872-.jpg" }, // DUNE
    { name: "Brad Pitt", age: 58, from: "Shawnee, USA", image: "https://image.gala.de/22990650/t/ew/v13/w960/r0.6667/-/brad-pitt.jpg" }, // Inglourious Basterds
    { name: "Marlon Brando", age: 82, from: "Omaha, USA", image: "https://image.vip.de/23269380/t/0v/v3/w2048/r0/-/marlon-brando-t10058-jpg--topic-image-10058-.jpg" }, // The Godfather
    { name: "Christian Bale", age: 48, from: "Haverfordwest, Wales", image: "https://media.themoviedb.org/t/p/w500/v2Oks7DTbZcKzSi2Pw58C7SSLzM.jpg" }, // The Dark Knight
    { name: "Matthew McConaughey", age: 53, from: "Uvalde, USA", image: "https://m.media-amazon.com/images/M/MV5BMTg0MDc3ODUwOV5BMl5BanBnXkFtZTcwMTk2NjY4Nw@@._V1_FMjpg_UX1000_.jpg" }, // Interstellar
    { name: "Tim Robbins", age: 63, from: "West Covina, USA", image: "https://cdn.britannica.com/32/198332-050-7D26EAB8/Tim-Robbins-2014.jpg" }, // The Shawshank Redemption
    { name: "Keanu Reeves", age: 58, from: "Beirut, Lebanon", image: "https://m.media-amazon.com/images/M/MV5BNGJmMWEzOGQtMWZkNS00MGNiLTk5NGEtYzg1YzAyZTgzZTZmXkEyXkFqcGdeQXVyMTE1MTYxNDAw._V1_.jpg" }, // The Matrix
    { name: "Hugh Jackman", age: 55, from: "Sydney, Australia", image: "https://m.media-amazon.com/images/M/MV5BNDExMzIzNjk3Nl5BMl5BanBnXkFtZTcwOTE4NDU5OA@@._V1_.jpg" }, // The Prestige
    { name: "John Travolta", age: 70, from: "Englewood, USA", image: "https://image.gala.de/23946404/t/UR/v9/w960/r0.6667/-/john-travolta.jpg" }, // Pulp Fiction
];
---

<MainLayout title="Actors">
    <style>
        .actors-title {
            font-size: 3rem;
            font-weight: bold;
            color: gold;
            text-align: center;
            margin-bottom: 2rem;
            font-family: Arial, sans-serif;
        }

        .actor-container {
            border: 2px solid gold;
            padding: 1rem;
            border-radius: 0.5rem;
            text-align: center;
            max-width: 300px;
            margin-right: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            overflow: hidden; /* Ensures the zoom effect doesn't overflow */
        }

        .actor-image {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            transition: transform 0.3s ease; /* Smooth transition for zoom effect */
        }

        .actor-name {
            font-size: 1.5rem;
            color: #fff;
            font-weight: bold;
            margin-top: 0.5rem;
        }

        .actor-info {
            font-size: 1rem;
            color: #fff;
            margin-top: 0.5rem;
        }

        .actor-container:hover .actor-image {
            transform: scale(1.1); /* Zoom effect on hover */
        }

        /* New CSS for .actor-adjust */
        .actor-adjust {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            padding: 2rem;
            margin-left: 140px;
            justify-content: center;
        }
    </style>
    
    <div class="max-w-screen-xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
        <div class="actor-adjust">
                
        
        </div>
    </div>
</MainLayout>