---
import MainLayout from '../layouts/Layout.astro';

const title = "Actors";
---

<MainLayout title={title}>
    <h2>Actors Page</h2>
    <p>COMMING SOON!!</p>
    <!-- Add any additional settings options here -->
</MainLayout>