---
import MainLayout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const movies = [
    { title: "OPPENHEIMER", description: "Während des Zweiten Weltkriegs beauftragt Generalleutnant Leslie Groves Jr. den Physiker J. Robert Oppenheimer mit der federführenden Mitarbeit am streng geheimen Manhattan-Projekt: Oppenheimer und ein Team von Wissenschaftlern arbeiten jahrelang an der Entwicklung und Konstruktion der Atombombe", image: "https://musicart.xboxlive.com/7/65526800-0000-0000-0000-000000000002/504/image.jpg?w=1920&h=1080" },
    { title: "Killers of the Flower Moon", description: "In den 1920er-Jahren werden Mitglieder des indianischen Stammes der Osage im Bundesstaat Oklahoma ermordet, nachdem auf ihrem Land Öl gefunden worden ist. Das löst eine groß angelegte Untersuchung einer völlig neuen Polizeieinheit, dem FBI, aus", image: "https://images.static-bluray.com/products/20/76612_2_large.jpg" },
    { title: "Titanic", description: "England, 1912: An Bord der Titanic, des größten Passagierschiffs der Welt, begegnen sich Rose, ein Mädchen der gehobenen Gesellschaft, und der mittellose Maler Jack. Als Jack beobachtet, wie Rose über die Reling klettert, um sich ins Meer zu stürzen, und ihren sicheren Tod abwenden kann", image: "https://m.media-amazon.com/images/I/71ps2xBoAuL._AC_UF894,1000_QL80_.jpg" },
	{ title: "DUNE", description: "Im Jahre 10191 entbrennt ein gigantischer Machtkampf um die Vorherrschaft über das Galaktische Imperium der Menschheit: Aus diesem Grunde schickt der kosmische Imperator Shaddam IV.", image: "https://www.koeln.de/kino/media/images/p_297145_Plakat1920.jpg" },
	
	// Add more movie objects here
];
---
<MainLayout title="Top 10 Movies in 2024">
    <div class="movie-grid">
        {movies.map(movie => (
            <Card movie={movie} />
        ))}
    </div>
</MainLayout>

<style>
    .movie-grid {
    	display: grid;
    	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    	gap: 2rem;
    	padding: 2rem;
    }
</style>