---
interface Movie {
	title: string;
	description: string;
	image: string;
  }
  
  const { movie } = Astro.props as { movie: Movie };
  ---
  
  <div class="card">
	  <img src={movie.image} alt={movie.title} />
	  <div class="card-content">
		  <h2>{movie.title}</h2>
		  <p>{movie.description}</p>
	  </div>
  </div>
  
  <style>
	  .card {
		  background: #d6a70c;
		  border-radius: 7px;
		  box-shadow: inset 0 0 0 1px rgb(226, 161, 21);;
		  overflow: hidden;
		  margin-bottom: 2rem;
		  color: white;
	  }
	  .card img {
		  width: 100%;
		  height: 600px; /* Adjust this height as needed */
		  overflow: hidden;
	  }
	  .card-image img {
		  width: 100%;
		  height: 600%;
		  object-fit: cover; /* Ensures the image covers the entire container */
	  }
	  .card-content {
		  padding: 1rem;
	  }
	  .card h2 {
		  margin-top: 0;
		  font-size: 1.5rem;
	  }
	  .card p {
		  margin: 0.5rem 0 0;
	  }
  </style>